---
import { Image } from "astro:assets";
import remoteTeamImage from "@/assets/images/remote-team.svg";
import { Button } from "./ui/button";

interface Props {
  data: {
    title: string;
    description: string;
    image: {
      src: string;
      alt: string;
    };
    button: {
      href: string;
      text: string;
    };
  };
}

const { data } = Astro.props;

const defaultData = {
  title: "Careers",
  description: "Loading careers information...",
  image: {
    src: "remote-team",
    alt: "Remote Team",
  },
  button: {
    href: "/careers",
    text: "View Current Openings",
  },
};

const careerData = data || defaultData;
---

<section class="w-full min-w-full">
  <div class="mx-auto w-full max-w-[960px] px-4 py-8">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
      <div class="col-span-2">
        <div
          class="mb-3 font-sans text-[18px] font-normal leading-[200%] text-[#0D2B46]"
        >
          <h2
            class="mb-4 font-domine text-[24px] font-normal leading-normal text-[#0D2B46]"
          >
            {careerData.title}
          </h2>

          <div
            class="mb-4 font-sans text-[14px] font-normal leading-[200%] text-[#0D2B46]"
          >
            {careerData.description}
          </div>

          <Button variant="outline" size="lg">
            {careerData.button.text}
          </Button>
        </div>
      </div>

      <div class="col-span-1 grid place-items-center">
        <Image
          src={remoteTeamImage}
          alt={careerData.image.alt}
          width={300}
          height={192}
          loading="eager"
          priority
        />
      </div>
    </div>
  </div>
</section>
