---
import { Image } from "astro:assets";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "./Layout.astro";
import Cta from "@/components/Cta.astro";
import Careers from "@/components/Careers.astro";
import Values from "@/components/Values.astro";
import Leadership from "@/components/Leadership.astro";
import { getImageFromPath } from "@/utils/images";

import { getEntry } from "astro:content";
const siteConfig = await getEntry("site", "config");
const SITE = siteConfig!.data;

export interface Props {
  frontmatter: {
    seo: {
      title: string;
      description?: string;
    };
    hero: {
      title: string;
      description: string;
      image?: {
        src: string;
        alt: string;
      };
    };
    services: {
      name: string;
      icon: {
        src: string;
      };
      items: string[];
    }[];
    careers: {
      title: string;
      description: string;
      image: {
        src: string;
        alt: string;
      };
      button: {
        href: string;
        text: string;
      };
    };
    values: {
      title: string;
      items: {
        title: string;
        description: string;
      }[];
    };
    leadership: {
      title: string;
    };
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.seo.title
    ? `${frontmatter.seo.title} | ${SITE.siteName}`
    : SITE.siteName}
  description={frontmatter.seo.description || SITE.description}
>
  <Header activeNav="about" />

  <Breadcrumbs />

  <main id="main-content">
    <section class="w-full min-w-full">
      <div class="mx-auto w-full max-w-[960px] px-4 py-16">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
          <div class="col-span-2">
            <div
              class="mb-3 font-sans text-[18px] font-normal leading-[200%] text-[#0D2B46]"
            >
              <h2
                class="mb-6 font-domine text-[36px] font-normal leading-normal text-[#0D2B46]"
              >
                {frontmatter.hero.title}
              </h2>

              <div
                class="font-sans text-[14px] font-normal leading-[200%] text-[#0D2B46]"
              >
                {frontmatter.hero.description}
              </div>
            </div>
          </div>

          <div class="col-span-1 grid place-items-center">
            {
              frontmatter.hero.image && (
                <Image
                  src={getImageFromPath(frontmatter.hero.image.src)}
                  alt={frontmatter.hero.image.alt}
                  width={300}
                  height={192}
                  loading="eager"
                />
              )
            }
          </div>
        </div>
      </div>
    </section>

    <section class="w-full min-w-full bg-[#F6F6F6]">
      <div class="mx-auto w-full max-w-[960px] px-4 py-8">
        <h2
          class="mb-8 font-domine text-[24px] font-normal leading-normal text-[#0D2B46]"
        >
          Our Services
        </h2>

        <div class="grid grid-cols-1 gap-8 sm:grid-cols-4">
          {
            frontmatter.services.map(service => (
              <div class="flex flex-col">
                <div class="mb-6 h-16 w-16">
                  <Image
                    src={getImageFromPath(service.icon.src)}
                    alt={`${service.name} Icon`}
                    width={64}
                    height={64}
                    class="h-full w-full"
                  />
                </div>

                <h3 class="mb-4 font-sans text-[16px] font-semibold leading-[200%] text-[#0D2B46]">
                  {service.name}
                </h3>
                <ul class="space-y-2 font-sans text-[14px] font-normal leading-[150%] text-[#0D2B46]">
                  {service.items.map(item => (
                    <li>{item}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    {frontmatter.values && <Values data={frontmatter.values} />}

    {frontmatter.leadership && <Leadership data={frontmatter.leadership} />}

    {frontmatter.careers && <Careers data={frontmatter.careers} />}
  </main>

  <div class="mt-auto">
    <Cta />
    <Footer />
  </div>
</Layout>
