---
import { SITE } from "@/config";
import { Image } from "astro:assets";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "./Layout.astro";
import Cta from "@/components/Cta.astro";
import Careers from "@/components/Careers.astro";
import Values from "@/components/Values.astro";
import Leadership from "@/components/Leadership.astro";
// Dynamic image imports with type
const images = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/images/*.svg",
  { eager: true }
);

// Function with type safety
const getImageFromPath = (path: string): ImageMetadata => {
  const imagePath = path.replace("/images/", "../assets/images/");

  if (!images[imagePath]) {
    return images["../assets/images/about-us.svg"].default;
  }

  return images[imagePath].default;
};

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    about: {
      title: string;
      description: string;
      image: {
        src: string;
        alt: string;
      };
    };
    services: {
      name: string;
      icon: string;
      items: string[];
    }[];
    careers: {
      title: string;
      description: string;
      image: {
        src: string;
        alt: string;
      };
      button: {
        href: string;
        text: string;
      };
    };
    values: {
      title: string;
      items: {
        title: string;
        description: string;
      }[];
    };
    leadership: {
      title: string;
    };
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />

  <Breadcrumbs />

  <section class="w-full min-w-full">
    <div class="mx-auto w-full max-w-[960px] px-4 py-16">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-3">
        <div class="col-span-2">
          <div
            class="mb-3 font-sans text-[18px] font-normal leading-[200%] text-[#0D2B46]"
          >
            <h2
              class="mb-6 font-domine text-[36px] font-normal leading-normal text-[#0D2B46]"
            >
              {frontmatter.about.title}
            </h2>

            <div
              class="font-sans text-[14px] font-normal leading-[200%] text-[#0D2B46]"
            >
              {frontmatter.about.description}
            </div>
          </div>
        </div>

        <div class="col-span-1 grid place-items-center">
          <Image
            src={getImageFromPath(frontmatter.about.image.src)}
            alt={frontmatter.about.image.alt}
            width={300}
            height={192}
            loading="eager"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="w-full min-w-full bg-[#F6F6F6]">
    <div class="mx-auto w-full max-w-[960px] px-4 py-8">
      <h2
        class="mb-8 font-domine text-[24px] font-normal leading-normal text-[#0D2B46]"
      >
        Our Services
      </h2>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-4">
        {
          frontmatter.services.map(service => (
            <div class="flex flex-col">
              <div class="mb-6 h-16 w-16">
                <Image
                  src={getImageFromPath(service.icon)}
                  alt={`${service.name} Icon`}
                  width={64}
                  height={64}
                  class="h-full w-full"
                />
              </div>

              <h3 class="mb-4 font-sans text-[16px] font-semibold leading-[200%] text-[#0D2B46]">
                {service.name}
              </h3>
              <ul class="space-y-2 font-sans text-[14px] font-normal leading-[150%] text-[#0D2B46]">
                {service.items.map(item => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  {frontmatter.values && <Values data={frontmatter.values} />}

  {frontmatter.leadership && <Leadership data={frontmatter.leadership} />}

  {frontmatter.careers && <Careers data={frontmatter.careers} />}

  <Cta />

  <Footer />
</Layout>
