---
import { SITE } from "@/config";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "./Layout.astro";
import Cta from "@/components/Cta.astro";
import { Button } from "@/components/ui/button";
import { ModulesAccordion } from "@/components/ModulesAccordion";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
    about: {
      title: string;
      description: string;
    };
    buttons: {
      text: string;
      href: string;
    }[];
    modules: {
      heading: string;
      items: {
        title: string;
        content: string;
      }[];
    };
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <div class="flex min-h-screen flex-col">
    <Header activeNav="sbm" />
    <Breadcrumbs />

    <main class="flex-1">
      <section class="w-full min-w-full">
        <div class="mx-auto w-full max-w-[960px] px-4 py-16">
          <div
            class="mb-3 font-sans text-[18px] font-normal leading-[200%] text-[#0D2B46]"
          >
            <h1
              class="mb-6 font-domine text-[36px] font-normal leading-normal text-[#0D2B46]"
            >
              {frontmatter.title}
            </h1>

            <div
              class="font-sans text-[14px] font-normal leading-[200%] text-[#0D2B46]"
            >
              {frontmatter.description}
            </div>
          </div>

          <div class="grid max-w-[50%] grid-cols-1 gap-2 sm:grid-cols-2">
            {
              frontmatter.buttons.map(button => (
                <Button variant="default" size="lg">
                  <a href={button.href}>{button.text}</a>
                </Button>
              ))
            }
          </div>
        </div>
      </section>

      <section class="w-full min-w-full">
        <div class="mx-auto w-full max-w-[960px] px-4 py-16">
          <div
            class="font-sans text-[14px] font-normal leading-[200%] text-[#0D2B46]"
          >
            <h2
              class="mb-8 font-domine text-[24px] font-normal leading-normal text-[#0D2B46]"
            >
              {frontmatter.modules.heading}
            </h2>

            <ModulesAccordion client:load items={frontmatter.modules.items} />
          </div>
        </div>
      </section>
    </main>

    <div class="mt-auto">
      <Cta />
      <Footer />
    </div>
  </div>
</Layout>
